Gui--MainWindow
{
    background-image: url(%images%/nebulae.png);
}

QScrollArea#helpButtonsScrollArea
{
	background: transparent;
    border: 0px;
}

QFrame#helpButtonsWidget
{
    background-color: transparent;
}

QScrollArea#buttonsScrollArea
{
	background: transparent;
    min-width: 64px;
    max-width: 64px;
    border: 0px;
}

QFrame#buttonsWidget
{
    min-width: 64px;
    max-width: 64px;
    background-color: transparent;
}

Gui--SubscribablePushButton#new QLabel
{
	qproperty-pixmap: url("%images%/New.png");
}

Gui--SubscribablePushButton#open QLabel
{
	qproperty-pixmap: url("%images%/Open.png");
}

Gui--SubscribablePushButton#save QLabel
{
	qproperty-pixmap: url("%images%/Save.png");
}

Gui--SubscribablePushButton#quit QLabel
{
	qproperty-pixmap: url("%images%/Quit.png");
}

Gui--SubscribablePushButton#help QLabel
{
	qproperty-pixmap: url("%images%/Help.png");
}

Gui--SubscribablePushButton#flag QLabel
{
	qproperty-pixmap: url("%images%/red.svg");
    min-width: 56px;
    min-height: 56px;
    max-width: 56px;
    max-height: 56px;
	padding: 4px;
}

Gui--SubscribablePushButton#setup QLabel
{
	qproperty-pixmap: url("%images%/Setup.png");
}

Gui--SubscribablePushButton#move QLabel
{
	qproperty-pixmap: url("%images%/Move.png");
}

Gui--SubscribablePushButton#colonize QLabel
{
	qproperty-pixmap: url("%images%/Colonize.png");
}

Gui--SubscribablePushButton#design QLabel
{
	qproperty-pixmap: url("%images%/Design.png");
}

Gui--SubscribablePushButton#build QLabel
{
	qproperty-pixmap: url("%images%/Build.png");
}

Gui--SubscribablePushButton#turn QLabel
{
	qproperty-pixmap: url("%images%/Turn.png");
}

Gui--SubscribablePushButton#load QLabel
{
	qproperty-pixmap: url("%images%/Load.png");
}

Gui--SubscribablePushButton#unload QLabel
{
	qproperty-pixmap: url("%images%/Unload.png");
}

Gui--SubscribablePushButton QLabel
{
    font: bold 12px;
    color: rgb(191,191,255);
	qproperty-alignment: AlignCenter;
    min-width: 64px;
    min-height: 64px;
}

Gui--SubscribablePushButton[checked="false"] QLabel
{
	background-color: transparent;
}

Gui--SubscribablePushButton[checked="true"] QLabel
{
	background-color: rgba(127,127,191,127);
}

Gui--MainWindow QGraphicsView
{
    background: transparent;
	border: 0px;
}

Gui--MainWindow QFrame#StatsFrame,
Gui--MainWindow Gui--SetupPanel
{
    background-color: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 1, stop: 0 rgba(31,63,191,255), stop: 1 rgba(0,0,63,255));
}

Gui--MainWindow QFrame#StatsFrame QLabel,
Gui--MainWindow Gui--SetupPanel QGroupBox,
Gui--MainWindow Gui--SetupPanel QLabel
{
    font: bold 12px;
    color: rgb(191,191,255);
}

Gui--MainWindow QFrame#CurrentPlayer
{
    min-width: 56px;
    min-height: 56px;
    max-width: 56px;
    max-height: 56px;
	padding: 4px;
}

Gui--MainWindow QListView
{
    font: bold 9px;
    color: rgb(191,191,255);
	background: transparent;
    min-width: 128px;
    min-height: 64px;
	border: 0px;
}

Gui--MainWindow QListView::item
{
    min-height: 24px;
}

Gui--MainWindow QListView::item:selected,
Gui--MainWindow QListView::item:selected :active,
Gui--MainWindow QListView::item:selected :!active
{
    color: white;
}

QListView::item:!selected:hover 
{
    background: transparent;
}

Gui--UniverseViewer QSlider::groove:horizontal 
{
	border: transparent;
	height: 12px;
	background: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 0, stop: 0 rgba(0,0,0,0), stop: 1 rgba(95,127,191,255));
}

 Gui--UniverseViewer QSlider::handle:horizontal 
 {
	background: qlineargradient(x1:0, y1:0, x2:1, y2:1, stop:0 rgba(95,127,191,191), stop:1 rgba(0,0,0,95));
	width: 48px;
	margin: -12px 0;
}

Gui--UniverseViewer QLabel
{
	font: bold "Courier";
	color: rgba(191,191,255,159);
}

Gui--HelpPanel QLabel
{
	font: bold "Courier";
	color: rgb(191,191,255);
}